//
//  {{name}}Wireframe.swift
//  {{projectName}}
//
//  Created by {{author}} on {{date}}.
//  Copyright © {{copyright}} All rights reserved.
//
import Foundation


protocol {{name}}BackHandler: class {

}
