//
//  {{name}}Wireframe.swift
//  {{projectName}}
//
//  Created by {{author}} on {{date}}.
//  Copyright © {{copyright}} All rights reserved.
//

import Foundation

class {{name}}Interactor: {{name}}InteractorInput {
    var output: {{name}}InteractorOutput?
    
}

